@media (max-width: 46.1875em) {
  .container {
    width: 92%;
  }

  /* navbar */
  .box-avt {
    display: none;
  }

  /* navbar */
  #nav-bar {
    border: none;
  }
  .navbar {
    padding: 10px 0;
    flex-direction: column;
    justify-content: stretch;
  }

  .nav-item:nth-child(3) {
    display: none;
  }
  .nav-item {
    border: none;
    width: 100%;
    padding: 5px 10px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 5px;
  }
  .nav-item:last-child {
    border: none;
  }

  /* about */
  #about {
    flex-direction: column;
  }
  #target {
    width: 92%;
    margin: 0 auto;
    padding: 50px 0;
  }
  #personal-info {
    padding-top: 100px;
    width: 100%;
  }
  .personal-info-container {
    width: 92%;
    margin: 0 auto;
  }

  /* job-info */
  .row {
    width: 100%;
    margin-top: 20px;
  }

  /* chung chi va giai thuong */
  .certi-content {
    width: 100%;
    flex-direction: column;
  }
  .certi-img {
    width: 100%;
  }
  .content-2::before {
    display: none;
  }
  .content-1::after {
    width: 100%;
    height: 1.5px;
  }
  .content-2::after {
    content: " ";
    position: absolute;
    bottom: -27px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--oran);
  }

  /* project */
  .pro-container {
    flex-direction: column;
    gap: 50px;
  }
  .pro-container .content-container {
    width: auto !important;
  }
  .box-item {
    padding: 10px 15px;
  }
  /* footer */
  #footer {
    height: 15vh;
  }
  .footer-box {
    margin: auto 0;
    flex-direction: column;
    gap: 0;
    padding: 0;
    font-size: 12px;
  }
  .footer-icon {
    font-size: 12px;
  }
}
