:root {
  --background: #4263eb;
  --bkg-item-contai: #dee2e6;
  --grey: ##868e96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background);
  font-family: sans-serif;
  line-height: 1.6;
}
h1 {
  font-size: 30px;
  color: #1971c2;
  padding-bottom: 10px;
  border-bottom: 2px solid #868e96;
}
h3 {
  font-size: 18px;
}

.body-container {
  width: 96%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.container {
  background-color: var(--bkg-item-contai);
  height: 100%;
  padding: 10px 20px 50px 20px;
  box-shadow: 0 0 10px 10px rgba(26, 26, 26, 0.1);
}
/* goals */
#goals {
  grid-column: 1/3;
}

.content-item {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #868e96;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goal-icon {
  margin-left: 64px;
  width: 40px;
  height: 40px;
}
.content-item .content {
  width: 75%;
}

/* team */
#team .container .content-item {
  border-bottom: none;
}
.icon-team {
  width: 40px;
  height: 40px;
}
/* scopes */
#scopes {
  grid-column: 1/3;
}
.scopes-container {
  margin-top: 20px;
  display: flex;
  gap: 50px;
}
.scopes-container h3 {
  font-size: 24px;
}
.content {
  width: 50%;
}
/* timeline */
#timeline {
  grid-row: 1/3;
  grid-column: 4/5;
}
#timeline .container .content-item {
  border-bottom: 2px dashed #4dabf7;
}
.icon-timeline {
  color: #da77f2;
  width: 40px;
  height: 40px;
  margin: 0 20px;
  border-radius: 50%;
  border: 2px solid #099268;
}
/* primary */
#primary .container .content-item {
  border: none;
}
.primary-icon {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

/* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .body-container {
    display: flex;
    flex-direction: column;
  }
  /* team */
  #team .content-item {
    width: 50%;
    margin-left: 20px;
  }
}
/* mobile */
@media (max-width: 46.1875em) {
  .body-container {
    display: flex;
    flex-direction: column;
  }
  .box-icon {
    display: none;
  }

  /* goal team */
  #goals .content-item,
  #team .content-item {
    display: block;
  }

  #goals .content,
  #team .content {
    width: 100%;
  }

  /* scopes */
  .scopes-container {
    flex-direction: column;
    gap: 20px;
  }
  .scopes-container .content {
    width: 100%;
  }
  /* primary */
  /* timeline */
  #primary .box-icon,
  #timeline .box-icon {
    display: block;
  }
}
